.jumbotron
    .container
        center
            h1 Lets Forecast
            p created for education purposes, learning nodejs,ngular.js, bootstrap and more.


{{corrent}}


br
center
    canvas(id="graph",width="800",height="200") Canvas is not supported
